.paginationContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    color: var(--text-color);
}

.arrowButton,
.pageButton,
.activePageButton {
    padding: 8px 12px;
    cursor: pointer;
    background-color: var(--card-bg);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--text-color);
}

.pageButton:hover,
.activePageButton {
    background-color: var(--primary-color);
}

.activePageButton {
    background-color: var(--primary-color);
}

.arrowButton:disabled {
    cursor: not-allowed;
    background-color: #888;
}

.dots {
    font-size: 18px;
    color: #888;
}

.goToContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 2rem;
}

.span {
    padding: 6px 12px;
}

.pageInput {
    width: 60px;
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    margin-left: 2rem;
    margin-top: 10px;
}

.totalItems {
    margin-left: 10rem;
}
