.wrap {
    width: 100%;
}

.stepper {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 18px;
    justify-content: space-between;
}
.step {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #222;
    opacity: 0.6;
    cursor: pointer;
    font-weight: 500;
    transition: 0.18s;
}
.activeStep {
    color: #137333;
    opacity: 1;
    font-weight: 700;
    border-bottom: 2px solid #137333;
}
.stepDivider {
    width: 44px;
    height: 2px;
    background: #ececec;
    border-radius: 1px;
}
.icon {
    font-size: 1.2em;
    margin-right: 6px;
}
